.movie-profile-full{
    background-color: #161616;
    margin-bottom: 10px;
}
.movie-profile{
    background-color: #161616;
    color: white;
    margin:25px;
    padding:15px;
    border-radius:10px;
    border:1px solid #fafafa;
    
}
.title-movie-profile{
    text-align: center;
}
.center-div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.cartel{
    height: 315px;
    width: 100%;
}
.center-div-right{
    
    display: flex;
    justify-content: center;
}
.list-profile-movie{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    background-color: #2C3E50;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    /* padding: 10px; */
}
ul.list-profile-movie{
    padding: 0;
}
ul.list-profile-movie li{
  display: flex;
 
  justify-content: center;
    margin-bottom: 20px;
   padding: 0;
   
    
}
.genre{
    background-color: #161616;
    border-radius: 10px;
    display: inline;
    padding: 10px;
    margin-left: 4px;
}
.icon-thumbs{
    color: white;
}
.sinopsis{
    background-color: #2C3E50;
    border:1px solid white;
    padding: 10px;
    border-radius: 10px;
}
.write-review{
    margin-top: 15px;
}

.own-review{
    margin: 0 auto;
    
    background-color: #2C3E50;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.title-resenas{
    margin-top: 15px;
}
.review-send{
    background-color: #EB984E;
    margin-top: 10px;
}
.textarea-own{
    height: 150px;
}
.btn-review-send{
    background-color: #2C3E50;
    color: white;
    margin-top: 5px;
    

}
.resena{
    border: 1px solid white;
    margin:5px;
    padding: 15px;
    background-color: #2C3E50 ;
    border-radius: 10px;
}
.title-review{
    color: #3F97CD;
}
.author{
    color: #EB984E;
}
.review{
    font-style: italic;
}