.movie-profile-full{
    background-color: #161616;
}
.movie-profile{
    background-color: #161616;
    color: white;
    margin:25px;
    padding:15px;
    border-radius:10px;
    border:1px solid #fafafa;
}
.title-movie-profile{
    text-align: center;
}
.center-div{
    display: flex;
    justify-content: center;
}
.center-div-right{
    list-style: none;
}
.list-profile-movie{
    list-style: none;
}
.icon-thumbs{
    color: white;
}