.navbarcontainer{
    background: #161616 !important;
}
.logo{
    max-height: 65px;
    padding: 0;
}
.navbarContainer{
    padding: 0;
    margin: 0;
}
.navbarUser{
    display: flex;
    justify-content: end;
}
.navbar-toggler{
    border: 1px solid white;
    margin-left: auto;   
    margin-right: 8px; 
    color: white;
    font-size: 1.4rem;
    padding: 7px 9px;
}
.navbar-toggler svg{
    fill: white;
}
/* .iconBars:hover{
    color: #3F97CD;
} */
.perfilLarge{
    margin: 0 !important;
    background: #161616;
    border: none !important;
    margin-right: 8px;
    position: relative;
    
}
.dropdownMenu{
    position: absolute;
    right: 0 !important;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    right: 0 !important;
    left: auto !important;
    margin-top: 0.125rem;
}
.perfilLarge button{
    display: flex;
    background-color:#161616 !important;
    border: none !important;
}
.perfilLarge button::after{
    content: none;
}
.links{
    width: 60%;
    justify-content: space-between;
    margin-left: auto;
}
.navbarSearch{
    display: flex; 
    position: relative;
    
}
.navbarSearch input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
.navbarSearch span{
    position: absolute;
    top: 7px;
    right: 5px;

}
.profileButton{
    display: flex;
}
.perfilIcon{
    margin-left: 8px;
}
  
.iconBars:hover {
    color: #3F97CD; 
}
.hamburguer{
    border: none;
    box-shadow: none;
}


