.navbar{
    background-color: #161616;
    padding: 0;
}
.input-form{
    border-radius:10px 0 0 10px;
    border:0 
}
.btn-submit{
    border-radius:0 10px 10px 0;
    border : 0
}
.logo{
    width: 7%;
}
.icon-navbar{
    color: white;
    margin-right: 20px;
    border-radius: 5px;
}