.aside-user{
    background-color: #EBEDEF;
    color: #808B96;
    padding: 10px;
    border-radius: 15px;
}
.logout-button{
    color:#808B96;
}
.button-user{
    display: flex;
    justify-content: center;
}
.button-user button{
    margin-right: 15px;
}
.cancel-user{
    background-color: white;
    color: black;
}
.cancel-user:hover{
    background-color: #EB984E;

}
.submit-user{
    background-color: white;
    color: black;

}
.submit-user:hover{
    background-color: #3F97CD;
}
.user-control{
    display: inline-block;
    color: #808B96;
}
.user-control p{
    display: inline-block;
    color: #808B96;
}
.user-control:hover{
    background-color: #F5B7B1;
}
.edit-user:hover{
    background-color: #FCF3CF; 
    color: white;
}
.personal-aside-user{
    background-color: #AED6F1;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}
.aside-user{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
}