.form-user{
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 15px;
    color: white;
    border-radius: 10px
}
.button-user{
    display: flex;
    justify-content: center;
}
.button-user button{
    margin-right: 15px;
}
.cancel-user{
    background-color: #EB984E;
}
.submit-user{
    background-color: #3F97CD;

}