.aside-user{
    background-color: #EBEDEF;
    color: #808B96;
    padding: 10px;
    border-radius: 15px;
}
.logout-button{
    color:#808B96;
}
.button-user{
    display: flex;
    justify-content: center;
}
.button-user button{
    margin-right: 15px;
}
.cancel-user{
    background-color: white;
    color: black;
}
.cancel-user:hover{
    background-color: #EB984E;

}
.submit-user{
    background-color: white;
    color: black;

}
.submit-user:hover{
    background-color: #3F97CD;
}
.edit-user{
    background-color: white;
    color: #808B96;
}
.edit-user:hover{
    background-color: #F7DC6F;
    color: white;
}